.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title{
        font-size: 1.2rem;
    }
    .actions{
        width: 10rem;
    }
}