<div class="wrapper">
  <div class="header">
    <div class="title">Coronavirus COVID-19 Global Cases</div>
    <div class="links">
      <ul>
        <li routerLink="/home" routerLinkActive="active">Home</li>
        <li routerLink="/stats" routerLinkActive="active">Analytics</li>
      </ul>
    </div>
  </div>
  <div class="header-sm">
    <div class="nav-bar">
      <div class="title">COVID Global Cases</div>
      <div class="links">
        <ul>
          <li routerLink="/home" routerLinkActive="active">Home</li>
          <li routerLink="/stats" routerLinkActive="active">Analytics</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="body">
    body
    <button (click)="getCountries()">Get Countries</button>
  </div>
  <div class="footer">
    <div class="left">
      <div class="created-by">
        Created By <br />
        <a href="https://anastasios.theodosiou.me" target="_blank">Anastasios Theodosiou</a>
      </div>
    </div>
    <div class="center">
      <div class="info">
        <span style="font-weight: bold; text-decoration: underline;">
          Terms and Conditions of Website Use:</span
        >
        This website and its contents herein, including all data, mapping, and
        analysis (“Website”), copyright 2020
        <span style="font-weight: bold; font-style: italic;"
          >Anastasios Theodosiou</span
        >, all rights reserved, is provided to the public strictly for public
        health, educational, and academic research purposes. You are welcome to
        link to the Website, however. The Website relies upon publicly available
        data from multiple sources that do not always agree.
        <span style="font-weight: bold; font-style: italic;"
          >Anastasios Theodosiou
        </span>
        hereby disclaims any and all representations and warranties with respect
        to the Website, including accuracy, fitness for use, reliability, and
        non-infringement. Reliance on the Website for medical guidance or use of
        the Website in commerce is strictly prohibited.
        <span style="font-weight: bold; text-decoration: underline;"
          >Data provided by:
        </span>
        <a href="https://github.com/novelcovid/api">NovelCOVID/API</a> public
        api based on deferent sources. Courenty (04/06/2020) using the two
        bellow. <a href="">https://www.worldometers.info/coronavirus/</a> and
        <a href=""
          >https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series</a
        >
      </div>
    </div>
    <div class="right">
      <a href="http://anastasios.theodosiou.me/" target="_blank"
        ><i class="fas fa-globe"></i
      ></a>
      <a href="https://github.com/atheodosiou/" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="mailto:anastasios.theodosiou@gmail.com"
        ><i class="fas fa-envelope-open"></i
      ></a>
    </div>
  </div>
  <div class="footer-sm">
    <div class="attribution">
      <div class="created-by">
        Created by:
        <a href="https://anastasios.theodosiou.me" target="_blank">Anastasios Theodosiou</a>
      </div>
      <div class="follow">
        <a href="http://anastasios.theodosiou.me/" target="_blank"
        ><i class="fas fa-globe"></i
      ></a>
      <a href="https://github.com/atheodosiou/" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a href="mailto:anastasios.theodosiou@gmail.com"
        ><i class="fas fa-envelope-open"></i
      ></a>
      </div>
    </div>
  </div>
</div>

<!--  -->
